<h1>HELLO</h1>

<h2>Alla Band:</h2>

<ul> 
    <% @bands.each do |bands| %>
        <li>
            <a href="/bands/<%= bands['id'] %>"><%= bands['name'] %></a>
        </li>
    <% end %>
</ul>


<a href="/skapa">Create band</a> </br>
<a href="/login">Log In</a> 

