<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Your Band</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <h1>Rate Your Band</h1>
  <%= yield %>
  
</body>
</html>

<div id="login-info">
  <% if @current_user %>
    <span>Inloggad som: <%= @current_user['username'] %></span>
  <% else %>
    <span>Ej inloggad</span>
  <% end %>
  </div>

  <h1>Inloggning, utloggning och användarhantering</h1>
  <nav>
      <ul>
          <li><a href="/">Index</a></li>
          <li><a href="/admin">Admin</a></li>

          <% if @current_user %>
          <li>
            <form class="delete" action="/logout" method="post">
              <input type="submit" value="Logga ut">
            </form>
          </li>
          <% else %>
          <li><a href="/login">Logga in</a></li>
          <li><a href="/users/new">Registrera</a>
          <% end %>
      </ul>
  </nav>