<h2>Här kan du logga in på Rate Your Band</h2>


<form action="/login" method="POST">
  <label>Username:
    <input type="text" value="" name="username" id="username" required></label>

  <label for="password">Password:
    <input type="password" value="" name="password" id="password" required></label>

  <button type="submit">Login</button>
</form>

<a href="/signup">Sign up</a>
<a href="/">Tillbaka till Start</a>