<h2>Register new user </h2>
<p>Här kommer formuläret för att registrera en ny användare finnas</p>
<p>Så länge skapas konto för användare bara i <code>seeder.rb</code></p>

<form action="/users" method="post">
	<label>Username <input type="text" name="username" required></label>
	<label>Password <input type="text" name="genre"></label>
	<input type="submit" value="Create account">
</form> 

	